@import '~bootstrap/dist/css/bootstrap.min.css';

body {
    background: #f7f7f7;
}

img {max-width: 100%; height: auto;}

header {
    padding: 1.5rem 2rem;
    background: #272C2F;
    box-shadow: 0 8px 8px -8px rgba(0,0,0,.8);
}

img.app-logo {
    height: 80px; width: auto;
}

h1,h2,h3 {
    letter-spacing: -2px;
}

.page {
    margin: 3rem 0 5rem 0;
    background: #fff;
    border: 1px solid #eee;
    padding: 3rem 2rem;
    box-shadow: 4px 8px 10px rgba(0,0,0,.15);
}

.container {width: 990px;}